# Ignore environment files
.env
/backend/.env
/frontend/.env.local
/frontend/.env
frontend/.vite/

# Node modules
/frontend/node_modules

# Rails tmp and log
/backend/log/*
/backend/tmp/*

# VSCode
.vscode/
